# PyCharm ENV
venv/
.idea/
# IDA Python SDK ENV
ida_32/
ida_64/
PyQt5/
idaapi.py
idadex.py
idautils.py
ida_allins.py
ida_auto.py
ida_bitrange.py
ida_bytes.py
ida_dbg.py
ida_dirtree.py
ida_diskio.py
ida_entry.py
ida_enum.py
ida_expr.py
ida_fixup.py
ida_fpro.py
ida_frame.py
ida_funcs.py
ida_gdl.py
ida_graph.py
ida_hexrays.py
ida_ida.py
ida_idaapi.py
ida_idc.py
ida_idd.py
ida_idp.py
ida_ieee.py
ida_kernwin.py
ida_lines.py
ida_loader.py
ida_moves.py
ida_nalt.py
ida_name.py
ida_netnode.py
ida_offset.py
ida_pro.py
ida_problems.py
ida_range.py
ida_registry.py
ida_search.py
ida_segment.py
ida_segregs.py
ida_strlist.py
ida_struct.py
ida_tryblks.py
ida_typeinf.py
ida_ua.py
ida_xref.py
idc.py
idc_bc695.py
init.py